{{ partial "head.html" . }}

        <a href="/">
            <div id="banner">
                <img src="/images/clock.png" width="100px"><span id="banner-chranna">RO &amp; CHRIS</span><h1>WHEN</h1>
            </div>
        </a>
        <div id="text-background">
            <h2 id="date">18TH MAY 2019</h2>
            <h2 id="location">BUXTON PAVILION GARDENS</h2>
            <table id="itinerary">
                <tr>
                    <td id="itinerary-times" class="itinerary-table">15.30</td>
                    <td id="itinerary-items" class="itinerary-table">Guests arrive</td>
                </tr>
                <tr>
                    <td class="itinerary-table">16.00–16.30</td>
                    <td class="itinerary-table">Ceremony</td>
                </tr>
                <tr>
                    <td class="itinerary-table">16.30–18.00</td>
                    <td class="itinerary-table">Drinks reception</td>
                </tr>
                <tr>
                    <td class="itinerary-table">18.00–00.00</td>
                    <td class="itinerary-table">Dinner and dancing</td>
                </tr>
                <!--<tr>
                    <td class="itinerary-table">19.15–19.30</td>
                    <td class="itinerary-table">Speech that's not a speech</td>
                </tr>
                <tr>
                    <td class="itinerary-table">19.45–21.30</td>
                    <td class="itinerary-table">Ceilidh band (with drinks break in the middle!)</td>
                </tr>
                <tr>
                    <td class="itinerary-table">21.30–00.00</td>
                    <td class="itinerary-table">DJ and dancing. Last orders at 23.45</td>
                </tr>-->
            </table>
            <p class="italics">More details nearer the big day!</p>
        </div>
    </body>
</html>