<html>
    <head>
        <meta name="robots" content="noindex">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--        <link rel="stylesheet" type="text/css" href="style.css">-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        
        <title>Ro &amp; Chris's Wedding</title>
        
        
        {{ $sass := resources.Get "style.scss" }}
        {{ $options := (dict "outputStyle" "compressed") }}
        {{ $style := $sass | resources.ToCSS $options }}
        <link rel="stylesheet" type="text/css" href="{{ $style.Permalink }}">
        
    </head>
    <body>